FIREBASE_SERVICE_ACCOUNT_KEY=<base64 encoded service account key>
BASE_URL=<base url for the app, e.g. https://schoolsoftplus.vercel.app>

ADMIN_USER=<admin username (the username used for schoolsoft)>
VERCEL_TOKEN=<vercel api token>
VERCEL_PROJECT_ID=<vercel project id>